@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;

}

header {
    display: flex;
    background-color: #abb38e;
    align-items: center;
    padding: 16px 16px;

}

body {
    background-color: #c59e7e;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    display: flex;
    flex: 1;
    flex-direction: row;
    width: 100%;
}

.logo { /* Formatação do logos principal*/
    width: 150px;
    height: auto;
    margin-left: 16px;
}

.logo-links {  /* Formatação do logos com link */
    width: 25px;
    height: auto;
}
.redes-sociais a img.logo-links {
    transition: transform 0.2s ease-in-out; /* Adiciona uma transição suave */
}

.redes-sociais a:hover img.logo-links {
    transform: scale(1.1); /* Aumenta o tamanho em 10% ao passar o mouse */
}
.secao-rodape a img.logo-links {
    transition: transform 0.2s ease-in-out; /* Adiciona uma transição suave */
}

.secao-rodape a:hover img.logo-links {
    transform: scale(1.1); /* Aumenta o tamanho em 10% ao passar o mouse */
}

.menu-esquerdo { /* Formatação do menu esquerdo*/
    width: 250px;
    background: #c59e7e;
    display: block;
    padding: 0;
    border-radius: 8px;
    text-align: center;
    border-radius: 16px;
}

.menu-esquerdo ul li a { /* Formatação da lista do menu esquerdo  */
    text-decoration: none;
    color: white;
    display: block;
    padding: 12px;
    font-weight: bold;
    transition: background 0.3s ease; /*Usado para mudar a cor do texto, fazer uma transição. EASE é a função do tempo de transição para acontecer, no caso 0,3seg*/
}

.menu-esquerdo ul {  /* Formatação da lista desordenada */
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-esquerdo ul li { /* Formatação das linhas e dos itens da lista*/
    margin-bottom: 10px;

}

.menu-esquerdo ul li:first-child { /*first-child (primeiro filho) -> primeira linha da lista - usado para dar distanciamento da margem superior do primeiro botão*/
    margin-top: 8px;
}


.menu-esquerdo ul li:last-child { /*last-child -> última linha da lista*/
    margin-bottom: 0;
}

.conteudo { /* Formatação da classe conteúdo usada no main */
    background: #eeeae6;
    flex: 1;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    padding: 16px;
    color: #444444;
    max-width: 1000px;  
    margin: 0 auto;    
    width: 100%;       
}

.menu-direito { /* Formatação da classe menu-direito */
    display: flex;
    flex-direction: column;
    width: 300px;
    background: #c59e7e;
    text-align: center;
}

.titulo-direito { /* Formatação da classe titulo-direito */
    color: white;
}

.item { /* Formatação da classe item usada nos comentários*/
    margin: 8px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
    padding: 12px;
    font-size: 1em;
    text-align: left;
}

.item strong { /* Formatação da classe item negrito usado no nome dos comentários */
    display: block;
    margin-bottom: 6px;
    color: #333;
}

.depoimentos { 
    display: flex;
    flex-direction: column;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.titulos {
    text-align: center;

}

.redes-sociais {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    margin-top: auto;

}

.quartos {
    width: 100%;
    max-width: 300px;
    height: auto;
    display: block;
    margin: 16px auto;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    margin-bottom: 30px;
}

.tabela-preco {
    width: 100%;
    max-width: 1000px; 
    height: auto;
    margin: 30px auto 50px auto;  
    display: block; 
}

.logo-nome {
    width: 600px;
    height: auto;
    margin: 0;

}

.botao-verde {
    background-color: #9dbf84;
    border-radius: 16px;
}

.botao-rosa {
    background-color: #d7a5bc;
    border-radius: 16px;
}

.botao-laranja {
    background-color: #e1a971;
    border-radius: 16px;
}

.menu-esquerdo a:hover {
    opacity: 0.7;
    cursor: pointer;
    text-decoration: none;
}

.fonte-titulo {
    font-family: 'Playfair Display', sans-serif;
    color: #c59e7e;
    font-size: 32px;
}

.formulario-contato {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.formulario-contato h2 {
    color: #c59e7e;
    text-align: center;
    margin-bottom: 20px;
}

.formulario-contato div {
    margin-bottom: 15px;
}

.formulario-contato label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.formulario-contato input[type="text"],
.formulario-contato input[type="email"],
.formulario-contato textarea {  /*Os três seletores são inseridos juntos separados por vírgula para que os 3 usem os mesmos elemento de formatação.*/
    width: calc(100% - 12px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1em;
}

.formulario-contato textarea {
    resize: vertical;

}

.formulario-contato button[type="submit"] {
    background-color: #c59e7e;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.formulario-contato button[type="submit"]:hover {
    background-color: #a8856a;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    /* Centraliza o conteúdo inicialmente */
}

.conteudo-rodape {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.secao-rodape {
    margin-bottom: 20px;
    text-align: left;
}

.secao-rodape h4 {
    color: #ccc;
    margin-top: 0;
}

.secao-rodape a,
.secao-rodape p {
    color: #eee;
    text-decoration: none;
}

.secao-rodape ul {
    list-style: none;
    padding: 0;
}

.secao-rodape ul li {
    margin-bottom: 5px;
}

.secao-rodape.social a {
    margin-right: 10px;
    display: inline-block;
}

.secao-rodape.social img {
    height: 24px;
}

.secao-rodape.direitos-autorais {
    flex-basis: 100%;
    text-align: center;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .conteudo-rodape {
        flex-direction: column;
        align-items: center;
    }

    .secao-rodape {
        text-align: center;
    }

    .secao-rodape.direitos-autorais {
        margin-top: 10px;
    }
    .container {
        flex-direction: column; 
    }

    .menu-esquerdo {
        width: 100%;
    }

    .conteudo {
        width: 100%;
        padding-left: 16px;
        padding-right: 16px;
    }

    .menu-direito {
        width: 100%; 
        margin-top: 20px; 
        flex-direction: column; 
    }

    .menu-direito .item {
        width: 100%; 
        margin: 8px 0; 
    }

    .titulo-direito {
        font-size: 1.5em;
        text-align: center;
    }
}
